In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
from sklearn.tree import DecisionTreeClassifier

cases = pd.read_csv('covidCasesDateSplit.csv')

x = cases.drop(columns =['hospitalCases'])
y = cases['hospitalCases']
cases

     year  month   day  hospitalCases  newDailyNsoDeathsByDeathDate
0    2022     10     7          11924                            35
1    2022     10     6          11747                            44
2    2022     10     5          11434                            60
3    2022     10     4          11068                            68
4    2022     10     3          10569                            64
..    ...    ...   ...            ...                           ...
920  2020      3    31          12597                           831
921  2020      3    30          11093                           711
922  2020      3    29           9525                           586
923  2020      3    28           8278                           516
924  2020      3    27           7267                           463

[925 rows x 5 columns]

In [2]:
model = DecisionTreeClassifier()
model.fit(x,y)

predictions = model.predict([[2020,10,7,0]])
predictions

array([819])